<p-toolbar  [style]="{'background-color':'yellow', 'border':'yellow'}">
    <div class="ui-toolbar-group-left" >
        <button pButton type="button" icon="fa fa-bars" class="ui-button-secondary"  style="height: 20px;width: auto; background-color: yellow; border: yellow; color:black;"(click)="display = true" ></button>
    </div>
</p-toolbar>
<p-sidebar [(visible)]="display" [style]="{'background-color':'yellow', 'border':'yellow', 'margin-top':'8px'}">
    <div style="margin-top: 20px;">
        <div>
                <a (click)="home()" style="color: black; cursor: pointer">Home</a>
        </div>
        <div>
                <a (click)="esercizio()" style="color: black; cursor: pointer">Crea Esercizio</a>
        </div>
        <div>
                <a (click)="allenamento()" style="color: black; cursor: pointer">Allenamento</a>
        </div>
    </div>

</p-sidebar>
<router-outlet></router-outlet>